Input
Databases
__pycache__
*log
test.py
Output
sessions
*.pem
build
dist
*spec
*json
!pyrightconfig.json
Debugging
.vscode
Banners
.mypy_cache
.pytest_cache
input
.env
*txt
!requirements.txt
*zip
!vercel.json
.vercel
uploads
avatars